$color--primary: #bef19b;
$color--primary-light-shade: #d8f7c3;
$color--primary-dark-shade: #85a96d;
$color--grey: #e0e0e0;
$color--grey-dark: #b3b3b3;
$color--grey-light: #f6f6f6;
$color--dark-black: #212121;
